* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-nav-mobile {
    width: 100%;
    height: 80px;
    display: none;
    background-color: antiquewhite;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

.nav-mobile-judul {
    flex: 4 0 auto;
    border: 1px solid blue;
}

.nav-mobile-chapter {
    flex: 1 0 auto;
    border: 1px solid blue;
    cursor: pointer;
}

.nav-mobile-chapter-list {
    display: none;
}


.buka {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: antiquewhite;
    position: absolute;
    top:80px;
    border:2px dashed black;
    transition: opacity 2s linear, height 2s step-start;
}



/***
  
  **/


.container-all {
    margin: auto;
    width: 80vw;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.container-nav-kiri {
    border: 3px dotted red;
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
}

.container-konten {
    border: 3px dotted green;
    width: 700px;
    flex: 4 0 auto;
}

.container-nav-kanan {
    border: 3px dotted blue;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1 0 auto;
    flex-direction: column;
}

.judul,
.chapter1,
.chapter2,
.chapter3 {
    border: 1px dashed red;
    min-width: 100px;
}

.judul {
    height: 10%;
}

.chapter1,
.chapter2,
.chapter3 {
    height: 30%;
}

.nav-kanan-prev,
.nav-kanan-next,
.nav-kanan-sound {
    border: 1px dashed gray;
    height: 10%
}

/* responsive breakpoints */

/* // phone */

@media (max-width: 600px) {
    .container-all {
        width: 100vw;
        min-height: calc(100vh - 80px);
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .container-konten {
        background-color: pink;
        flex: 1 0 auto;
        width: 100%;
        min-height: 800px;
    }

    .container-nav-kanan {
        flex-direction: row;
        width: 100%;
        gap:0;
        margin: auto;
        flex: 1 0 auto;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0; /* required */
        background-color: antiquewhite;
        align-items: center;
        
    }

    .nav-kanan-prev,
    .nav-kanan-next,
    .nav-kanan-sound {
        flex: 0 1 auto;
        width: 100px;
        background-color: antiquewhite;

    }

    .container-nav-kiri {
        display: none;
    }


    .container-nav-mobile {
        display: flex;
        position: sticky;
        
    }
}

/* // tablet */

@media (min-width: 601px) and (max-width: 1366px) {
    .container-all {
        width: 100vw;
        min-height: calc(100vh - 80px);
        flex-direction: column;
    }

    .container-konten {
        background-color: yellow;
        flex: 1 0 auto;
        width: 100%;
        min-height: 800px;
    }

    .container-nav-kanan {
        flex-direction: row;
        width: 100%;
        gap:0;
        margin: auto;
        flex: 1 0 auto;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0; /* required */
        background-color: antiquewhite;
        align-items: center;
        
    }

    .nav-kanan-prev,
    .nav-kanan-next,
    .nav-kanan-sound {
        flex: 0 1 auto;
        width: 100px;
        background-color: antiquewhite;

    }

    .container-nav-kiri {
        display: none;
    }


    .container-nav-mobile {
        display: flex;
        position: sticky;
    }
}