* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.container {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  overflow: auto;
}

.nav-desktop-left {
  /* background-color: grey; */
  width: 14.5%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("assets/ui/nav_left_desktop-1.png");
  background-size: auto 100vh;
  background-position: right top;
  background-repeat: repeat-y;
  z-index: 2;
}

.nav-desktop-left-mg {
  background-image: url("assets/ui/nav_left_desktop-2.png");
  background-size: auto 100vh;
  background-position: right top;
  background-repeat: repeat-y;
  width: 100%;
  /* height: 100vh; */
  height: 0vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  /* animation: mymove 5s infinite; */
  transition: all 100ms ease-out;
}

/* @keyframes mymove {
    0% {
        height: 0%;
    }

    25% {
        height: 25%;
    }

    50% {
        height: 50%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: 100%;
    }
} */

.nav-desktop-button-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 13vh;
}

.bg-contain {
  /* background-size: cover; */
}

.nav-button {
  background-color: whitesmoke;
  /* width: 70px;
    height: 70px; */
  /* width: 7vh;
  height: 7vh; */
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms;
}

.nav-desktop-sizeTombol {
  width: 7vh;
  height: 7vh;
}

.nav-mobile-sizeTombol {
  width: 4vh;
  height: 4vh;
}

.nav-button:first-child:hover {
  background-color: rgb(164, 209, 203);
  transform: scale(1.2);
}

.nav-button:nth-child(2):hover {
  background-color: rgb(164, 209, 203);
  transform: scale(1.2);
}

.nav-button:last-child:hover {
  background-color: rgb(164, 209, 203);
  transform: scale(1.2);
}

.contents {
  /* background-color: gray; */
  width: 100%;
  min-height: 140%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  /* margin-left: 15vw; */
  flex-grow: 1;
}

.top-divider {
  width: 100%;
  height: 8vh;
  background-color: whitesmoke;
  position: fixed;
  -webkit-mask-image: url(assets/ui/divider_mask_top.png);
  mask-image: url(assets/ui/divider_mask_top.png);
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  mask-position: top left;
  -webkit-mask-position: top left;
  mask-size: cover;
  -webkit-mask-size: cover;
  visibility: hidden;
}

.bottom-divider {
  width: 100%;
  height: 8vh;
  background-color: #262626;
  position: fixed;
  bottom: 0;
  -webkit-mask-image: url(assets/ui/divider_mask_bottom.png);
  mask-image: url(assets/ui/divider_mask_bottom.png);
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  mask-position: bottom left;
  -webkit-mask-position: bottom left;
  mask-size: cover;
  -webkit-mask-size: cover;
  /* visibility: hidden; */
}

#intro,
#chapter-1,
#chapter-2,
#chapter-3,
#end {
  width: 100%;
  margin: 0 auto;
  /* padding: 5px; */
  min-height: 40vh;
  padding: 14vh 20%;
  /* border: 4px solid gray; */
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 3em;
}

#intro {
  /* background-color: #c2c2c2; */
  height: 190vh;
  background: linear-gradient(white, lightgrey);
}

#chapter-1 {
  /* background-color: #e4e4e4; */
  height: 150vh;
  background: linear-gradient(lightgrey, darkgray);
}

#chapter-2 {
  /* background-color: #c2c2c2; */
  height: 180vh;
  background: linear-gradient(darkgray, wheat);
}

#chapter-3 {
  /* background-color: #e4e4e4; */
  height: 160vh;
  background: linear-gradient(wheat, lightblue);
}

#end {
  /* background-color: #c2c2c2; */
  height: 300vh;
  background: linear-gradient(lightblue, whitesmoke, white);
}

.popup-container {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 999;
}

.more-info-popup {
  height: 90%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  font-size: 1em;
  transition: all 500ms ease-in-out;
  position: absolute;
}

.popup-buttons {
  height: 5%;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: flex-end;
}

.popup-contents {
  height: 95%;
  background-color: rgb(189, 189, 189);
  padding: 40px;
}

.popup-container.closed {
  visibility: hidden;
  opacity: 0.1;
  transition: all 500ms ease-in-out;
}

.popup-container.closed .more-info-popup {
  transform: scaleY(0);
  font-size: 0em;
}

.nav-mobile-top {
  /* background-color: grey; */
  width: 100vw;
  height: 9vh;
  margin: auto;
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  display: none;
  background-image: url("assets/ui/nav_top_mobile-1.png");
  background-size: 100% auto;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-bottom: 10px;
  z-index: 2;
}

.nav-mobile-top-mg {
  background-image: url("assets/ui/nav_top_mobile-2.png");
  background-size: 100vw auto;
  background-repeat: repeat-x;
  background-position: bottom left;
  /* width: 100%; */
  width: 0%;
  height: 100%;
  z-index: -1;
  /* animation: mymove 5s infinite; */
  transition: all 100ms ease-out;
}

.nav-mobile-button-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}


.nav-current-chapter {
  background-color: salmon;
}

/* // phone */

@media (max-width: 900px) {
  .nav-mobile-top {
    display: flex;
  }

  .container {
    width: 100vw;
  }

  .nav-desktop-left {
    display: none;
  }

  .contents {
    width: 100%;
    margin: 0 auto;
  }

  .top-divider {
    height: 10vh;
    top: 3vh;
  }
}